<!DOCTYPE html>
<html lang="en">
<head>
    

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#111517">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <title>TheBestTicketFares</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@0,100..900;1,100..900&display=swap" rel="stylesheet">



    <link rel="stylesheet" href="/assets/css/bootstrap.css">
<link rel="stylesheet" href="/assets/css/owl.carousel.min.css">
<link rel="stylesheet" href="/assets/css/owl.theme.default.css">
<link rel="stylesheet" href="/assets/css/custom.css">
<link rel="stylesheet" href="/assets/css/media.css">





 <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" type="image/x-icon" href="images/favicon.png">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <link rel="stylesheet" type="text/css" href="css/dsnp-csadd.css">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&amp;display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="js/jquery.min.js"></script>

</head>


</head>
<body>



<nav class="navbar">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="https://www.
faresfairdeals.com"><img src="images/logo.png" class="logo"></a>
    </div>
	
	 <div class="callnow_mm">
        <a href="tel: (844) 679-8050">
        <div class="hdrtxt"><i class="fa fa-headphones "></i> Call </div>
        </a>
     </div>
	
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar_st">
        <li class="active"><a href="/"><strong>Home</strong></a></li>
        <li><a href="/about"><strong>About Us</strong></a></li>
        <li><a href="/us-flights"><Strong>Travel</Strong></a></li>
         <li><a href="/cruise"><Strong>Cruise</Strong></a></li> 
        <li><a href="/contact"><Strong>Contact Us</Strong></a></li>
          
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <div class="tollfree">
          <a href="tel: (844) 679-8050"><span>Call 24/7 for our best deals</span><img src="images/phone01.png">  (844) 679-8050 </a>
        </div>
      </ul>
    </div>
  </div>
</nav>  


<!-- banner section -->

  <%- include('cruise/inc/banner') %>


   <!-- deals section -->

  <%- include('cruise/inc/deals') %>

    <%- include('cruise/inc/cta') %>


      <%- include('cruise/inc/experience') %>

        <%- include('cruise/inc/cta_book') %>
          <%- include('cruise/inc/testimonials') %>

             <%- include('cruise/inc/member_cta') %>

                <%- include('cruise/inc/footer') %>

                  <%- include('cruise/inc/scripts') %>


</body>
</html>
